// Для импорта в файл подключения: @import './app/blocks.project/top-slider/top-slider';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.top-slider {
  position: relative;
  min-height: 550px;
  @include respond-to(lg) {
    min-height: 450px;
  }

  .slick-track,
  .slick-list,
  .slick-slider {
    height: 100%;
  }

  &__slide {
    @include respond-to(xl) {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .45);
      }
    }
    @include respond-to(sm) {
      &:nth-of-type(1) {
        background-position: right -190px bottom 0 !important;
      }
      &:nth-of-type(3) {
        background-position: right -190px bottom 0 !important;
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 29%;
    @include respond-to(lg) {
      bottom: 80px;
    }
    @include respond-to(sm) {
      padding-left: 20px;
    }
  }

  &__info {
    font-size: 0;
  }

  &__counter {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    @include respond-to(lg) {
      display: none;
    }
  }
  &__counter-current {
    display: inline-block;
    margin-right: 20px;
    font-family: $Circe-ExtraBold;
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    color: #fff;
  }
  &__counter-total {
    font-size: 16px;
    line-height: 1;
    color: #fff;
    opacity: .5;
    position: relative;
    &:before {
      content: '/';
      position: absolute;
      top: 2px;
      left: -11px;
    }
  }

  &__texts {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: calc(100% - 100px);
    @include respond-to(lg) {
      display: block;
      width: 100%;
    }
  }
  &__header {
    font-family: $Circe-ExtraBold;
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    @include respond-to(lg) {
      font-size: 40px;
      line-height: 1.2;
    }
    @include respond-to(sm) {
      font-size: 30px;
    }
    span {
      display: block;
      font-family: $Circe-ExtraLight;
      font-weight: 100;
    }
  }
  &__text {
    font-family: $Circe-ExtraLight;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin: 15px 0;
    max-width: 635px;
    @include respond-to(sm) {
      max-width: 100%;
    }
  }

  &__button {
    min-width: 190px;
  }


  &__navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    @include respond-to(lg) {
      padding-bottom: 21px;
    }
    @include respond-to(sm) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__navigation-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @include respond-to(lg) {
      display: block;
    }
  }

  &__socials-container {
    font-size: 0;
    overflow: hidden;
    @include respond-to(lg) {
      display: none;
    }
  }
  &__social-header {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    vertical-align: top;
    position: relative;
    padding-right: 20px;
    margin-right: 50px;
    &:before {
      content: '';
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      opacity: .3;
      height: 1px;
      width: 50px;
    }
  }
  &__socials {
    display: inline-flex;
    align-items: center;
    padding: 0 40px 0 20px;
  }
  &__social-icon {
    display: inline-block;
    margin-right: 25px;
    transition: $transition;
    &:hover {
      opacity: .5;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &_vk {
      height: 9px;
      width: 16px;
    }
    &_fb {
      height: 14px;
      width: 8px;
    }
    &_inst {
      height: 14px;
      width: 14px;
    }
    &_telegram {
      height: 14px;
      width: 16px;
    }
  }

  &__dots {
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    ul {
      display: inline-flex;
      padding-left: 34px;
      position: relative;
      text-align: left;
      @include respond-to(lg) {
        display: flex;
        align-items: center;
        font-size: 0;
        padding-left: 0;
      }
      &:before {
        content: '';
        background-color: #fff;
        position: absolute;
        transform: translateY(-50%);
        opacity: .3;
        top: 50%;
        right: 100%;
        height: 1px;
        width: 1200px;
        @include respond-to(lg) {
          display: none;
        }
      }
    }
    li {
      position: relative;
      padding-left: 13px;
      margin-right: 25px;
      cursor: pointer;
      transition: $transition;
      opacity: .65;
      @include respond-to(lg) {
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        padding-left: 0;
        height: 6px;
        width: 6px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 3px);
        width: 3px;
        background-color: transparent;
        @include respond-to(lg) {
          display: none;
        }
      }
      &:hover {
        opacity: 1;
      }
      &.slick-active {
        opacity: 1;
        @include respond-to(lg) {
          height: 8px;
          width: 8px;
        }
        &:before {
          background-color: $accentColor;
        }
      }
    }
  }
  &__dot-number {
    font-family: $Circe-ExtraBold;
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    @include respond-to(lg) {
      display: none;
    }
  }
  &__dot-text {
    font-family: $Circe-ExtraLight;
    font-size: 15px;
    color: #fff;
    line-height: 1.3;
    margin-top: 3px;
    @include respond-to(lg) {
      display: none;
    }
    span {
      display: block;
    }
  }


  &__arrows {
    @include respond-to(lg) {
      display: none;
    }
  }
  &__prev, &__next {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
  }
  &__prev {
    left: 50px;
    @media (max-width: 1300px) {
      left: 5px;
    }
  }
  &__next {
    right: 50px;
    @media (max-width: 1300px) {
      right: 5px;
    }
  }

}
