include ../blocks/includes
include page/page
include header/header
include logo/logo
include lang-switcher/lang-switcher
include menu/menu
include hamburger/hamburger
include top-slider/top-slider
include connection/connection
include to-top/to-top
include section-welcome/section-welcome
include top-yachts/top-yachts
include top-directions/top-directions
include section-rest/section-rest
include section-reviews/section-reviews
