include ../blocks/includes
include page/page
include header/header
include logo/logo
include lang-switcher/lang-switcher
include menu/menu
include hamburger/hamburger
include top-slider/top-slider
include connection/connection
include to-top/to-top
include section-welcome/section-welcome
