// Для импорта в файл подключения: @import './app/blocks.project/input/input';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.input {
  background-color: #fff !important;
  border: 1px solid #e5ebff;
  border-radius: 40px;
  display: block;
  font-family: $Circe-Light;
  font-size: 15px;
  line-height: 48px;
  font-weight: 200;
  padding: 0 15px 0 57px;
  color: #363636;
  width: 100%;
  &:focus {
    outline: 0;
    box-shadow: 0 4px 24px 0 rgba(0 ,0, 0, .12);
  }
  &::-webkit-input-placeholder       {color: #cfcfcf; transition: $transition;}
  &::-moz-placeholder                {color: #cfcfcf; transition: $transition;}
  &:-moz-placeholder                 {color: #cfcfcf; transition: $transition;}
  &:-ms-input-placeholder            {color: #cfcfcf; transition: $transition;}
  &:focus::-webkit-input-placeholder {color: #363636; transition: $transition;}
  &:focus::-moz-placeholder          {color: #363636; transition: $transition;}
  &:focus:-moz-placeholder           {color: #363636; transition: $transition;}
  &:focus:-ms-input-placeholder      {color: #363636; transition: $transition;}

  &_name {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2219%22%20width%3D%2216%22%3E%3Cpath%20d%3D%22M7.931%2010.23h.124a3.555%203.556%200%200%200%202.746-1.19c1.5-1.71%201.25-4.64%201.223-4.92a4.022%204.023%200%200%200-1.89-3.57A4.229%204.23%200%200%200%208.04%200h-.066a4.283%204.285%200%200%200-2.1.54%204.008%204.009%200%200%200-1.911%203.58c-.027.28-.276%203.21%201.223%204.92a3.537%203.538%200%200%200%202.745%201.19zM5.006%204.22v-.03c.13-2.82%202.111-3.13%202.96-3.13h.047c1.05.03%202.838.46%202.959%203.13a.078.078%200%200%200%200%20.03c0%20.03.276%202.7-.962%204.11a2.543%202.544%200%200%201-2.005.84h-.039a2.535%202.536%200%200%201-2-.84C4.739%206.93%205%204.24%205.007%204.22zm10.99%2010.87v-.01-.1c-.024-.78-.074-2.6-1.764-3.18a.056.056%200%200%200-.04-.01%2011.457%2011.461%200%200%201-3.231-1.49.52.521%200%200%200-.732.13.535.535%200%200%200%20.13.74%2012.176%2012.18%200%200%200%203.554%201.64c.908.32%201.009%201.3%201.036%202.2a.756.756%200%200%200%200%20.1%207.352%207.355%200%200%201-.082%201.22%2015.41%2015.415%200%200%201-13.733-.01%206.675%206.677%200%200%201-.082-1.21v-.1c.027-.9.128-1.88%201.035-2.21a11.896%2011.9%200%200%200%203.555-1.64.535.535%200%200%200%20.129-.74.522.522%200%200%200-.733-.13%2010.72%2010.723%200%200%201-3.23%201.49.066.066%200%200%201-.04.01C.077%2012.38.026%2014.2.003%2014.98a.678.678%200%200%201%200%20.09v.02a6.078%206.08%200%200%200%20.2%201.78.525.525%200%200%200%20.2.25%2016.31%2016.316%200%200%200%2015.201%200%20.546.546%200%200%200%20.2-.25%206.359%206.361%200%200%200%20.191-1.78z%22%20fill%3D%22%23ffd200%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') 22px 50% no-repeat;
    background-size: 16px 19px;
  }

  &_phone {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2220%22%20width%3D%2212%22%3E%3Cpath%20d%3D%22M10.602%200H1.398A1.372%201.374%200%200%200%200%201.35v17.29A1.38%201.382%200%200%200%201.398%2020h9.204A1.38%201.382%200%200%200%2012%2018.64V1.35A1.372%201.374%200%200%200%2010.602%200zM4.527.97h2.946a.164.164%200%200%201%20.169.16.172.172%200%200%201-.17.17H4.528a.172.172%200%200%201-.169-.17.164.164%200%200%201%20.17-.16zM6%2019.32a.674.675%200%201%201%20.699-.68.685.686%200%200%201-.699.68zm5.026-1.82H.974V2.14h10.052z%22%20opacity%3D%22.57%22%20fill%3D%22%23ffd200%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') 24px 50% no-repeat;
    background-size: 12px 20px;
  }

  &_email {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2210%22%20width%3D%2216%22%3E%3Cpath%20d%3D%22M15.989.84a.827.827%200%200%200-.82-.84L.82.02a.8.8%200%200%200-.58.25A.848.848%200%200%200%200%20.86l.011%208.3a.85.85%200%200%200%20.241.59.8.8%200%200%200%20.579.25l14.35-.02A.833.833%200%200%200%2016%209.13zm-1.72%200L8%205.32%201.72.86zm-3.617%205.33l3.718%202.97-12.75.01%203.74-2.98a.429.429%200%200%200%20.073-.59.4.4%200%200%200-.575-.08L.83%208.72l-.01-7.48%206.95%204.94A.4.4%200%200%200%208%206.26a.413.413%200%200%200%20.234-.08l6.935-4.96.01%207.5-4.026-3.22a.4.4%200%200%200-.575.08.428.428%200%200%200%20.073.59z%22%20fill%3D%22%23ffd200%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') 22px 50% no-repeat;
    background-size: 16px 10px;
  }

}
