mixin section-form()
  +b('section').section-form&attributes(attributes)
    .grid
      +b('h2').heading._white.__heading <span>Готовы отправиться </span>в свое морское путешествие?
      +callback-form.__callback-form
      +messengers.__messengers
