mixin checkbox(text)
  +b('label').checkbox&attributes(attributes)
    if text
      +e('input')(type='checkbox' checked='checked' hidden).input
      +e('span').custom
      +e('span').text !{text}
    else
      +e('input')(type='checkbox' checked='checked' hidden).input
      +e('span').custom
