mixin section-welcome()
  +b('section').section-welcome&attributes(attributes)
    .grid
      +e.content
        +e.left
          +e('h2').heading Добро пожаловать<br><span>на борт</span>
          +e('p').text Таиланд один из самых красочных мест на планете с его живописными местами. Яхт-клуб "Одисей" откроет вам непревзойденные пейзажи этой замечательной страны.
        +e.rigth
          //-
