// Для импорта в файл подключения: @import './app/blocks.project/button/button';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.button {
  border: 1px solid $accentColor;
  border-radius: 40px;
  display: inline-block;
  font-family: $Circe-Light;
  font-size: 15px;
  font-weight: 200;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  padding: 0 15px;
  color: #434343;

  &_full {
    background-color: $accentColor;
    &:hover {
      background-color: #e6bb00;
      border-color: #e6bb00;
    }
  }

  &_border {
    &:hover {
      background-color: $accentColor;
    }
  }

  &_full, &_border {
    &:active {
      background-color: #ffe873;
      border-color: #ffe873;
    }
  }

  &_arrow-border, &_arrow-full {
    position: relative;
    &:hover {
      background-color: $accentColor;
      border-color: $accentColor;
    }
    &:active {
      background-color: #ffe873;
      border-color: #ffe873;
    }
    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 11px;
      width: 16px;
    }
  }
  &_arrow-border {
    border-color: #ccced3;
    padding-left: 19px;
    padding-right: 51px;
    .icon {
      right: 16px;
    }
  }
  &_arrow-full {
    background-color: $accentColor;
    padding-left: 24px;
    padding-right: 54px;
    .icon {
      right: 25px;
    }
  }

}
