mixin connection()
  +b.connection&attributes(attributes)
    +e.open
      +b('span').icon._connection-ffffff.__icon-main._connect-fff
      +b('span').icon._connection-363636.__icon-main._connect-363636
      +b('span').icon._close.__icon-main._close
    +e.panel
      +e('a')(href='tg://resolve?domain=odysseyphuket').item
        +b('span').icon._teleg-363636.__icon-cont._teleg-363636
      +e('a')(href='https://api.whatsapp.com/send?phone=66911625639').item
        +b('span').icon._whatsap-363636.__icon-cont._whatsap-363636
      +e('a')(href='tel:66911625639').item
        +b('span').icon._phone-363636.__icon-cont._phone-363636
      +e('a')(href='#popup-message').item.popup-with-zoom-anim
        +b('span').icon._message-363636.__icon-cont._message-363636
