include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'There is title';

  +page

    +header(true, true).__header
      +top-slider


    +b.content.__content

      +section-welcome


    +b('footer').footer.__footer
      //- Content for footer

      +connection
      +to-top
