include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'There is title';

  +page

    +header(true, true).__header
      +top-slider


    +b.content.__content

      +section-welcome

      +top-yachts

      +top-directions

      +section-rest

      +section-reviews

      +section-instagram

      +section-form


    +footer(true, false).__footer

    +connection
    //- +to-top
