include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'There is title';

  +page

    +header(true, true).__header
      //- Content for header

    +b.content.__content
      .grid
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, rem?
        br
        br
        br

    +b('footer').footer.__footer
      //- Content for footer
