mixin section-instagram()
  +b('section').section-instagram&attributes(attributes)
    .grid
      +e.content
        +e('img')(src='img/section-instagram/instagram.svg' alt='Instagram').img-instagram
        +b('h2').heading._363636.__heading <span>Яхт-клуб Odyssey </span>в Instagram

        +e.container
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/1.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/2.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/3.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/4.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/5.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/6.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/7.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/8.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/9.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/10.jpg) center no-repeat;background-size:cover').item
          +e('a')(href='https://www.instagram.com/' target='_blank' style='background:url(img/section-instagram/11.jpg) center no-repeat;background-size:cover').item

        +e('p').text Еще больше морских приключений в нашем профиле Instagram
        +e('a')(href='https://www.instagram.com/' target='_blank').profile @odysseyphuket
        br
        +b('a')(href='https://www.instagram.com/').button._full.__button Подписаться
