// Для импорта в файл подключения: @import './app/blocks.project/top-yachts/top-yachts';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.top-yachts {
  background-color: #f2f5ff;
  padding-top: 100px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    height: 200px;
    width: 100%;
    background: url('../img/wave.svg') center no-repeat;
    background-size: 100% 100%;
    /*@include respond-to(lg) {
      height: 150px;
    }
    @include respond-to(md) {
      height: 70px;
    }
    @include respond-to(sm) {
      height: 36px;
    }*/
    @include respond-to(lg) {
      display: none;
    }
  }
  @include respond-to(lg) {
    padding-top: 25px;
    padding-bottom: 50px; /**/
  }
  @include respond-to(md) {
    text-align: center;
  }

  &__top {
    display: flex;
    align-items: center;
    @include respond-to(xl) {
      display: block;
    }
    @include respond-to(md) {
      text-align: left;
    }
  }

  &__heading-container {
    flex-grow: 1;
    overflow: hidden;
  }
  &__heading {
    display: inline-block;
    padding-right: 30px;
    position: relative;
    @include respond-to(xl) {
      display: block;
      padding-right: 0;
    }
    @include respond-to(sm) {
      padding-left: 20px;
      span {
        display: block;
      }
    }
    &:before {
      content: '';
      background-color: #dbdde3;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      height: 1px;
      width: 1200px;
      @include respond-to(xl) {
        display: none;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 28px;
    @include respond-to(xl) {
      justify-content: center;
      padding-left: 0;
      margin-top: 25px;
    }
    @include respond-to(md) {
      display: none;
    }
  }

  &__arrows {
    font-size: 0;
  }
  &__slider-arrow {
    &:first-of-type {
      margin-right: 10px;
    }
  }

  &__counter {
    padding: 0 21px 0 24px;
  }
  &__counter-current {
    display: inline-block;
    margin-right: 20px;
    font-family: $Circe-ExtraBold;
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    color: #363636;
  }
  &__counter-total {
    font-size: 14px;
    line-height: 1;
    color: #b9b9b9;
    position: relative;
    &:before {
      content: '/';
      position: absolute;
      top: 2px;
      left: -11px;
    }
  }

  &__button {
    &_desk {
      @include respond-to(md) {
        display: none;
      }
    }
    &_mobile {
      display: none;
      @include respond-to(md) {
        display: inline-block;
        margin-top: 20px;
      }
    }
  }

  &__bottom {
    margin-top: 26px;
    @include respond-to(md) {
      margin-top: 12px;
    }
  }

  &__slider {
    margin: 0 -5px;
    @include respond-to(md) {
      text-align: left;
      margin: 0;
    }
    @include respond-to(sm) {
      margin: 0 -5px;
    }
  }

  &__item {
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  .slick-slide {
    padding: 0 5px;
    > div {
      font-size: 0;
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

}
