// Для импорта в файл подключения: @import './app/blocks.project/top-yacht/top-yacht';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.top-yacht {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: 67.798%;
    height: 0;
  }
  &:hover {
    .top-yacht__overlay {
      filter: blur(3px);
      @include respond-to(md) {
        filter: blur(0);
      }
    }
    .top-yacht__hover {
      opacity: 1;
      @include respond-to(md) {
        opacity: 0;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $transition;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding: 17px 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include respond-to(lg) {
      justify-content: space-between;
      padding: 20px 25px 17px;
    }
  }

  &__name {
    font-family: $Circe-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    @include respond-to(lg) {
      font-size: 18px;
    }
  }

  &__info {
    padding-bottom: 19px;
    position: relative;
    margin: 16px 0 20px;
    @include respond-to(lg) {
      padding-bottom: 0;
      padding-right: 85px;
      margin: 15px 0 0 0;
    }
    &:before {
      content: '';
      background-color: rgba(255, 255, 255, .3);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 50px;
      @include respond-to(lg) {
        display: none;
      }
    }
  }
  &__info-item {
    display: flex;
    align-items: center;
    margin-top: 11px;
    @include respond-to(lg) {
      margin-top: 5px;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__info-icon-container {
    flex-basis: 31px;
    flex-shrink: 0;
    text-align: center;
    @include respond-to(lg) {
      flex-basis: 25px;
    }
    img {
      display: inline-block !important;
      @include respond-to(lg) {
        max-height: 15px;
      }
    }
  }
  &__info-name {
    font-size: 14px;
    line-height: 1.2;
    padding-left: 11px;
  }

  &__price-container {
    @include respond-to(lg) {
      position: absolute;
      right: 15px;
      bottom: 16px;
    }
  }
  &__price {
    font-family: $Circe-ExtraBold;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    @include respond-to(lg) {
      background-color: $accentColor;
      border-radius: 40px;
      display: inline-block;
      font-size: 16px;
      padding: 19px 22px 15px;
      color: #363636;
    }
  }

  &__hover {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: $transition;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
  }
  &__btn-hover {
    background-color: $accentColor;
    border-radius: 50%;
    display: inline-block;
    transition: $transition;
    height: 50px;
    width: 50px;
    position: relative;
    &:hover {
      background-color: #ffe873;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 11px;
      width: 16px;
    }
  }
  &__hover-text {
    font-family: $Circe-Bold;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    margin-top: 15px;
  }

}
